@{
    ViewBag.Title = "Rent A Car";
}

<div class="jumbotron">
    <h1 class="text-center">RENT A CAR</h1>
    <p class="lead text-center">Aplicación demostrativa de ASP.NET, diseño plasmado para una entidad de renta de vehículos.</p>
    <p class="text-center"> Desarrollado por Josué Quesada</p>
    <p class="text-center"> Bachiller en Informatica Empresarial</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Clientes</h2>
        <p>
            En las vistas de clientes se encuentran las opciones
            basicas para tener un control de los clientes que 
            la entidad tenga para realizar prestamos de autos.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Vehículos</h2>
        <p>
            En las vistas de vehículos se encuentran las opciones
            basicas para tener un control de los vehículos con
            los que cuenta la entidad.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Prestamos</h2>
        <p>
            En las vistas de prestamos se encuentran las opciones
            basicas para tener un control de los prestamos que 
            la entidad pueda realizar.
        </p>
    </div>
</div>